.nav {
    position: fixed;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: white;
}

.icon {
    margin-right: 35px;
    font-size: 30px;
}