/* Create */

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.create {
    width: 100vw;
    height: 60px;
    background: #00BF98;
    color: white;
    font-size: 18px;
    outline: none;
    border: none;
}

.plus {
    font-size: 30px;
    font-weight: lighter;
    color: #00BF98;
}

.warn_contain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.warn {
    color: #00BF98;
    font-size: 22px;
    font-weight: 500;
}

.warn_img {
    opacity: 50%;
    width: 280px;
    margin-bottom: 40px;

}

.modal_contain {
    z-index: 50;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    backdrop-filter: blur(6px) brightness(80%);
    animation: Vis;
    animation-duration: .8s;
}

.menu_modal {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
}

.modal {
    z-index: 60;
    animation: Up;
    animation-duration: .8s;
}

.modal_title {
    font-size: 16px;
    font-weight: 500;
    color: #00BF98;
}

.main_modal {
    width: 100vw;
    height: 60vh;
    overflow-y: auto;
    background: white;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.h {
    margin-top: 50px;
    width: 300px;
    color: #00BF98;
    font-size: 24px;
    font-weight: 600;
}
.sub_h {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 12px;
    width: 300px;
    color: #00BF98;
    font-size: 18px;
    font-weight: 500;
}

.close {
    font-size: 20px;
    color: #00BF98;
}

.type_l {
    outline: none;
    border: 1px solid #00BF98;
    border-right: none;
    background: white;
    padding: 6px 8px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: #00BF98;
}
.type {
    outline: none;
    border: 1px solid #00BF98;
    border-left: none;
    border-right: none;
    background: white;
    padding: 6px 8px;
    color: #00BF98;
}
.type_r {
    outline: none;
    border: 1px solid #00BF98;
    border-left: none;
    background: white;
    padding: 6px 8px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #00BF98;
}
.ctype_l {
    outline: none;
    border: 1px solid #00BF98;
    border-right: none;
    padding: 6px 8px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    /*background: #00BF98;*/
    /*color: white;*/
    animation: Fade;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.ctype {
    outline: none;
    border: 1px solid #00BF98;
    border-left: none;
    border-right: none;
    padding: 6px 8px;
    /*background: #00BF98;*/
    /*color: white;*/
    animation: Fade;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.ctype_r {
    outline: none;
    border: 1px solid #00BF98;
    border-left: none;
    padding: 6px 8px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    /*background: #00BF98;*/
    /*color: white;*/
    animation: Fade;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.date {
    border: 1px solid #00BF98;
    border-radius: 8px;
    padding: 10px 10px 25px;
    margin-left: -90px;
}

.btn_contain {
    margin-left: -125px;
}

.btn {
    margin-top: 60px;
    width: 90vw;
    height: 80px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    background: #00BF98;
    color: white;
}

.startbtn {
    margin-top: 100px;
    width: 90vw;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    background: #00BF98;
    color: white;
}

@keyframes Up {
    from {
        transform: translateY(80vh);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes Vis {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Fade {
    from {
        color: #00BF98;
        background: white;
    }
    to {
        color: white;
        background: #00BF98;
    }
}


/* Dashboard */

.d_main {
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

.d_contain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.profile_contain {
    background: white;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    font-size: 20px;
    font-weight: 400;
}

.icon {
    margin-right: 4px;
    font-size: 20px;
    color: #00BF98;
}

.img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
    background: #F0F0F5;
}

.chart_contain {
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 20px;
}

.graph_contain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph_card {
    width: 320px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 10px;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
    border-radius: 20px;
}

.graph_warn {
    margin-bottom: -40px;
    position: absolute;
    width: 220px;
    color: #ff4b4b;
}
.graph_nice {
    margin-bottom: -40px;
    position: absolute;
    width: 220px;
    color: #25d225;
}

.graph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
}

.graph_text {
    font-weight: 600;
}

.clogo {
    font-size: 25px;
    margin-right: 10px;
}

.predict {
    margin-top: 20px;
    width: 320px;
    height: 140px;
    border-radius: 20px;
    background: white;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grow {
    font-size: 40px;
    color: #00BF98;
    margin-right: 10px;
}

.predict_text {
    font-size: 24px;
    font-weight: 600;
}

.colored {
    color: #00BF98;
}

.center {
    position: absolute;
    margin-right: -25px;
    opacity: 50%;
    width: 2px;
    height: 25px;
    background: #00BF98;
    z-index: 30;
}
.center_text {
    color: #00BF98;
    margin-top: -30px;
    margin-right: -25px;
    position: absolute;
    font-size: 14px;
    font-weight: 300;
}

.center1 {
    position: absolute;
    margin-right: -55px;
    opacity: 50%;
    width: 2px;
    height: 25px;
    background: #00BF98;
    z-index: 30;
}
.center_text1 {
    color: #00BF98;
    margin-top: -30px;
    margin-right: -55px;
    position: absolute;
    font-size: 14px;
    font-weight: 300;
}

.center2 {
    position: absolute;
    margin-right: -160px;
    opacity: 50%;
    width: 2px;
    height: 25px;
    background: #00BF98;
    z-index: 30;
}
.center_text2 {
    color: #00BF98;
    margin-top: -30px;
    margin-right: -160px;
    position: absolute;
    font-size: 14px;
    font-weight: 300;
}

.birth {
    font-size: 13px;
}

.dateitem {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
}